body{
    margin: -2px;
}
*{ 
  margin: 0 ;
  padding: 0 ;
} 

body {
   font-family: 'Poppins', sans-serif;
 }

.cabecalho { 
    background-color:#000000 rgb(190, 24, 24) ;
    color :white ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalho-imagem {
       width: 20%;


    display:inlin-block
    margin:0 16px ;
}
<flexpower2nio 2hh4 8h4 21>
.escola {asma: linear-gradient(#be1212,#be1212);
  color:white;d
  display:flex;
  justify-content:center;
  align-items:center;
  padding: 100px 0 ;
}
